body {
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100vh;
    margin: 0;
    padding: 0;
    width: 100vw;

    background-color: #000;

    overflow: hidden;
}

.logo {
    margin: 0;
    width: 50vmin;
    filter: drop-shadow(5px 5px 10px #000000);
}

pre {
    font-weight: bold;
    font-size: 1vmin;

    cursor: pointer;
}

#canvas-matrix {
    position: fixed;
    top: 0;
    left: 0;
}

.no-select {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.no-select:focus {
    outline: none !important;
}


.container {
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 50px 10%;
    padding: 3rem;
    position: relative;
    z-index: 1;

    background-image: url('bg.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 50px;
    opacity: 0.9;
}

.playing {
    color: yellow;
    animation: alternateColor 1s infinite;
}

@keyframes alternateColor {
    0% {
        color: black;
    }
    50% {
        color: yellow;
    }
    100% {
        color: black;
    }
}

#console-gb {
    z-index: 1;

    width: 64px;

    position: fixed;
    bottom: 10px;
    right: 0;

    cursor: pointer;
}

#mail {
    z-index: 1;

    width: 64px;

    position: fixed;
    bottom: 10px;
    left: 5px;

    cursor: pointer;
}

.social-bar {
    position: fixed;
    bottom: 20px;
    display: flex;
    gap: 15px;
    background: #333;
    padding: 10px 20px;
    border-radius: 30px;
    box-shadow: 0px 0px 5px 0px;

    z-index: 2;
}

.social-bar a {
    color: white;
    font-size: 24px;
    text-decoration: none;
}

.social-bar a > i {
    transition: color 0.3s ease-in-out;
}

.social-bar a:hover > i.fa-linkedin {
    color: #0073b1;
}

.social-bar a:hover > i.fa-github {
    color: #6e5494;
}

#titan-cat-iframe {
    opacity: 0;
    visibility: hidden;
    bottom: -576px;

    box-shadow: 0px 0px 5px 0px;

    position: absolute;
    right: 10px;

    z-index: 3;
    width: 288px;
    height: 576px;

    transition: opacity 0.5s ease-in-out, visibility 0s linear 0.5s;
    transform: translateY(100%);
    
}

#titan-cat-iframe.visible {
    opacity: 1;
    visibility: visible;

    bottom: 80px;
    transform: translateY(0);
    transition: opacity 0.5s ease-in-out, visibility 0s linear 0s, transform 0.5s ease-out;
}