body {
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100vh;
    margin: 0;
    padding: 0;
    width: 100vw;

    background-color: #000;
}

h1 {
    margin: 0;
    font-size: 5vw;
}

pre {
    font-weight: bold;

    cursor: pointer;
}

#canvas-matrix {
    position: fixed;
    top: 0;
    left: 0;
}

.no-select {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.no-select:focus {
    outline: none !important;
}


.container {
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 50px 10%;
    padding: 3rem;
    position: relative;
    z-index: 1;

    background-image: url('bg.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 50px;
    opacity: 0.9;
}

.playing {
    color: yellow;
    animation: alternateColor 1s infinite;
}

@keyframes alternateColor {
    0% {
        color: black;
    }
    50% {
        color: yellow;
    }
    100% {
        color: black;
    }
}

#console-gb {
    z-index: 1;

    width: 64px;

    position: absolute;
    bottom: 10px;
    right: 0;

    cursor: pointer;
}

#mail {
    z-index: 1;

    width: 64px;

    position: absolute;
    bottom: 10px;
    left: 5px;

    cursor: pointer;
}